###############################################################################
# Editor / OS Noise
###############################################################################
.vscode/
.DS_Store
Thumbs.db

###############################################################################
# Build / Generated Artifacts
###############################################################################
dist/

###############################################################################
# Build / Temp Artifacts
###############################################################################
*.log
*.tmp
